
<div class="container2">
    <div class="img-product">
        <img class="img-product-detail" src="{{product.image}}" alt="">
    </div>
    <div class="info-product">
        <div class="detail-product">
            <h2 style="font-size: 1.6em; font-weight: 700; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{product.name}}</h2>
            <p>MÃ SP:2TD2892</p>
            <h3>{{product.price}}</h3>
        </div>
        <div class="option-product">
            <div class="size">
                <div class="size-detail">
                    <h3 style="font-size: 1.2em">Kích cỡ</h3>
                </div>
                <ul class="list-size">
                    <li class="btn-size">90</li>
                    <li class="btn-size">100</li>
                    <li class="btn-size">110</li>
                    <li class="btn-size">120</li>
                    <li class="btn-size">130</li>
                </ul>
            </div>
        </div>
        <a href="">Hướng dẫn chọn size</a>
        <div class="policy-product">
           <i class="fal fa-check"></i>
            <h5 style="margin: 0 !important; font-size: 1em !important; font-family: Open Sans !important; width: 100% !important; color: rgb(55, 51, 51)">Miễn phí giao hàng Cho đơn hàng từ <b> 499.000đ </b></h5>
        </div>
        <div class="policy-product">
            <i class="fal fa-check"></i>
            <h5 style="margin: 0 !important; font-size: 1em !important; font-family: Open Sans !important; width: 100% !important; color: rgb(55, 51, 51)">Đổi trả miễn phí trong vòng <b>30 ngày</b> kể từ ngày mua</h5>
        </div>
        <div class="btn-addtocart">
            Thêm vào giỏ hàng
        </div>
        <div class="btn-addtocart">
            Tìm tại cửa hàng
        </div>

        <div class="expand">
            <div class="favourite">
                <i class="fal fa-heart"></i>
                <h6> Thêm vào yêu thích</h6>
            </div>
            <div class="sharetofriend">
                <i class="fal fa-cloud-upload"></i>
                <h6>Chia sẻ bạn bè</h6>
            </div>
        </div>

        <div class="description">
            <h4>Mô tả</h4>
            <h5>{{product.description}}</h5>
        </div>
    </div>
</div>

