<footer>
    <div class="footer-item">
        <div class="logo-with-item">
            <img src="./image/mauanh.jpg" class="logo-footer" alt="">
            <p class="footer-privacy"> Fox đảm bảo cung cấp sản phẩm chất lượng tốt chất, giá cả tốt nhất trên thị trường, đổi trả trong vòng 7 ngày từ khi nhận được sản phẩm, hỗ trợ khách hàng 24/7</p>
        </div>      
        <ul class="footer-contact">
            <li>
                <i class="fal fa-envelope icon-contact"> ductrong951@gmail.com
                </i>
            </li>
            <li>
                <i class="fal fa-phone-alt icon-contact"> 0924644942
                </i>
            </li>
            <li>
                <i class="fal fa-location-circle icon-contact"> TRƯỜNG KỸ THUẬT TOP 1 MIỀN NAM
                </i>
            </li>
        </ul>     
        <div class="notifi-update">
            <h1 class="foot-notifi-update">Sign Up For Update</h1>
            <input class="footer-input" type="text" placeholder="Nhập email của bạn...">
            <button class="btn-subscribe">
                <a class="submit" type="submit" href="">Subscribe
                </a>
            </button>
        </div>
    </div>
