<div class="header">
        <div class="header-left">
            <a href="/index" class="header-logo">
                <img src="../image/logocáo.png" alt="" class="header-logo-img">
            </a>
            <div class="header-left-item-1">
                <a href="/index" class="header-left-item"> TRANG CHỦ</a>
                <a href="/woman" class="header-left-item"> NỮ</a>
                <a href="/man" class="header-left-item"> NAM</a>
                <a href="/child-woman" class="header-left-item"> BÉ GÁI</a>
                <a href="/child-man" class="header-left-item"> BÉ TRAI</a>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-item">
                <div class="header-right-searchbox">
                    <i class="fal fa-search find-icon"></i>
                    <input type="text" placeholder="Bạn tìm gì..." class="searchbox-input">
                    <div class="search-history">
                        <div class="search-history-form">
                            <i style="margin: 0px 15px;" class="fal fa-search find-icon"></i>
                            <input style="background-color:#fff;" type="text" placeholder="Bạn tìm gì..." class="searchbox-input-type">
                        </div>
                        <div class="search-history-item">
                            <h2 style="font-size: 1em; margin-top: 0px; margin-bottom: 0px;"> Lịch sử tìm kiếm</h2>
                            <a style="text-decoration: none; font-size: 0.9em; font-weight: 700 ; color:#44C5EA;" href="">Xoá</a>
                        </div>
                    </div>
                </div>
                <div class="header-right-items">
                    <i class="fal fa-store header-right-icon"></i>
                    <i class="fal fa-heart header-right-icon"></i>
                    <i class="fal fa-user-circle header-right-icon">
                        {{!-- <div class="form">
                            <div class="form-login">
                                <div class="form-login-register">
                                    <div class="login-register active">
                                        Đăng nhập
                                    </div>
                                    <div class="login-register disabled">
                                        Đăng kí
                                    </div>
                                </div>
                                <div class="detail-login-register">
                                    <div class="login">
                                        <p>Cảm ơn bạn đã đến với FOX</p>
                                        <input type="text" class="input-login" placeholder="Vui lòng nhập số điện thoại của bạn" >
                                        <button class="login-btn">
                                            Tiếp tục
                                        </button>
                                        <span class="rules">
                                            Bằng việc chọn tiếp tục, bạn đã đồng ý với 
                                            <a href="">Điều khoản & điều kiện</a> cùng 
                                            <a href="">Chính sách bảo mật và chia sẻ thông tin</a>
                                            của CANIFA
                                        </span>
                                    </div>
                                    <div class="register">
                                        <p>Đăng ký để Canifa có cơ hội phục vụ bạn tốt hơn.</p>
                                        <input type="text" class="input-login" placeholder="Vui lòng nhập số điện thoại của bạn" >
                                        <button class="login">
                                            Tiếp tục
                                        </button>
                                        <span class="rules">
                                            Bằng việc chọn tiếp tục, bạn đã đồng ý với 
                                            <a href="" style="color:aqua !important;">Điều khoản & điều kiện</a> cùng 
                                            <a href="" style="color:aqua !important;">Chính sách bảo mật và chia sẻ thông tin</a>
                                            của CANIFA
                                        </span>
                                    </div>  
                                </div>
                            </div>
                        </div> --}}
                    </i>
                    <i class="fal fa-shopping-cart header-right-icon cart-icon">
                        <span class="count-product">2</span>
                        <div class="cart">
                            <p class="history-cart">
                                Giỏ hàng của bạn
                            </p>
                            <div class="cart-item">
                                <li class="cart-history-item">
                                    <img class="cart-product-img" src="https://canifa.com/img/800/1000/resize/3/t/3tl22s001-sw001-110-1-u.jpg" alt="">
                                    <div class="cart-info">
                                        <div class="product-name">
                                            Áo phông unisex trẻ em
                                            <div class="price-product">
                                                149.000 đ
                                            </div> 
                                        </div>
                                        <i class="fal fa-trash-alt delete-product"></i>  
                                    </div>
                                </li>
                                <li class="cart-history-item">
                                    <img class="cart-product-img" src="https://canifa.com/img/486/733/resize/6/t/6tc21c001-se294-m-1.jpg" alt="">
                                    <div class="cart-info">
                                        <div class="product-name">
                                            Áo cardigan nữ
                                            <div class="price-product">
                                                249.000 đ
                                            </div>
                                        </div>
                                        <i class="fal fa-trash-alt delete-product"></i> 
                                    </div>
                                </li>
                                <button class="cart-btn">
                                    Xem giỏ hàng
                                </button>
                            </div>
                        </div>
                    </i>
                </div>
            </div>    
        </div>
    </div>